body{
    text-align: center;
    background-color: #bde0fe;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: #ffc8dd;
    width: 400px;
    margin: auto;
    padding: 10px 15px;
}
p{
    font-size: 1.5rem;
}
input{
    width: 100%;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}
button{
    font-size: 1.5rem;
    background-color: #cdb4db;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
